
  <!-- REGISTER -->
        <div class="col-md-6">
           <div>
          <%= form_for @instructor do |f| %>

            <div class="field">
              <%= f.text_field :first_name, placeholder: 'First name', class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.text_field :last_name, placeholder: 'Last name', class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.text_field :username, placeholder: 'Visible username', class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.text_field :phone_number, placeholder: 'Phone number', class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.label "Instructor Type" %><br />
              <%= f.select :sport, ['Always Available', 'Weekends Only'], class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.label "Preferred Beaches" %><br />
              <%= f.collection_check_boxes :location_ids, Location.all, :id, :name do |location_item| %>
                <div class="collection-check-box">
                  <%= location_item.check_box %>
                  <%= location_item.label %>
                </div>
              <% end %>
            </div>
            <div class="field">
              <%= f.text_field :certification, placeholder: 'Do you hold any certifications?', class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.text_area :intro, rows:5, placeholder: 'Describe your background in 2-3 sentences', class: 'form-control' %>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.submit "Submit your application", class: "btn sign-up-btn pull-right push-bottom" %>
              </div>
            </div>
          <% end %>
          </div>
<div class="spacer">
</div>

        </div>
        <!-- /REGISTER -->
