<div id="middle" class="container">
  <div class="white">

    <header class="page-header">
      <h1>Update Your Lesson</h1>
    </header>

    <%= semantic_form_for @lesson do |f| %>
      <%= f.semantic_errors :instructor %>
      <div class='row'>
        <div class="col-md-6">
          <h4>Basic <strong>Info</strong></h4>

          <div class='row'>
            <div class="col-md-6">
              <label>Lesson Type</label>
              <%= f.input :activity, as: :select, collection: ['Ski', 'Snowboard'], include_blank: 'Lesson Type', label: false %>
            </div>

            <div class="col-md-6">
              <label>Mountain</label>
                <%= f.input :location, as: :select, collection: ['Thredbo', 'Perisher', 'Mt. Buller', 'Mt. Hotham', 'Falls Creek'], include_blank: 'Mountain', label: false %>
            </div>
          </div>

          <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
            <div class='row'>
              <div class="col-md-6">
                <label>Date</label>
                <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker' }, placeholder: 'Pick a date', label: false %>
                <span class="search-area-icon"></span>
              </div>

              <div class="col-md-6">
                <label>Slot</label>
                <%= lt_f.input :slot, as: :select, collection: ['Morning', 'Afternoon', 'Full Day'], include_blank: 'Length', label: false %>
              </div>
            </div>
          <% end %>

          <div class='row'>
            <div class="col-md-4">
              <label>Lesson Length</label>
              <%= f.input :duration, as: :select, collection: [['2 hours', 2], ['3 hours', 3], ['6 hours', 6]], include_blank: 'Length', label: false %>
            </div>

            <div class="col-md-4">
              <label>Start Time</label>
              <%= f.input :start_time, as: :string, input_html: { id: 'timepicker' }, placeholder: 'Pick a start time', label: false %>
            </div>

<!--             <div class="col-md-4">
              <label>Do you have gear?</label>
              <%= f.input :gear, as: :select, collection: [['Yes, already have gear.', true], ['No, need gear.', false]], include_blank: '(Skis,boots,etc.)', label: false %>
            </div> -->
          </div>

          <h4>Student <strong>Info</strong></h4>

          <div id='lesson_students_input'>
            <%= f.semantic_fields_for :students do |student| %>
              <%= render 'student_fields', f: student %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association 'Add Student', f, :students, class: 'btn btn-success' %>
            </div>
            <%= f.semantic_errors :students %>
          </div>
        </div>

        <div class="col-md-6">
          <h4>Lesson  <strong> Objectives</strong></h4>

          <div class='col-md-12'>
            <label>Skill Level</label>
             <%= f.input :ability_level, as: :select, collection: ['First-time on the mountain', 'Beginner', 'Intermediate','Advanced'], include_blank: 'Ability Level', input_html: {class: 'width100'}, label: false %>
          </div>
          <div class='col-md-12'>
            <label>Objectives</label>
            <%= f.input :objectives, placeholder: 'What do you hope to get out of this lesson?', label: false %>
          </div>

        </div>
      </div>

      <hr class='lesson-break' />

      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <hr>
          <div class="col-md-9">
            <span class="remember-box checkbox pull-right">
              <label for="rememberme">
                <% if @lesson.new? %>
                  <%= f.check_box :terms_accepted, id: "rememberme" %>I agree to the <span><a href="#">Terms and Conditions</a></span>
                <% else %>
                  <%= f.input :terms_accepted, as: :hidden, input_html: { value: true } %>
                <% end %>
              </label>
            </span>
          </div>
          <% if @lesson %>
<!--           % if @lesson.deposit_status == 'confirmed' %>-->
          <div class="col-md-3">
            <%= f.input :state, as: :hidden, input_html: { value: @state } %>
            <%= f.submit "Submit", class: 'btn sign-up-btn pull-right' %>
          </div>
          <% else %>
        <!-- <div class="col-md-12">
          <span class="pull-right"> A $50 deposit is required to secure your reservation.
            <form action="" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_V3HBGGiV9ZzWXD8SRsTytwtD"
                data-amount="5000"
                data-name="Snow Schoolers"
                data-description="Refundable deposit - first hour"
                data-image="/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-zip-code="true">
              </script>
            </form>
            </span>
          </div> -->
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<!-- SLIDER -->
<img id="cycle-loader" src="/assets/spinner.gif" alt="loader" />

<ul id="slider">
  <li><img src="/assets/demo/slider/powdery-mountain.jpg" alt="" /></li>
  <li><img src="/assets/demo/slider/ski-1.jpg" alt="" /></li>
</ul>
<!-- /SLIDER
