<br>
<p>Requester: <%= @lesson.requester.name %>
<br>
<% if @lesson.instructor %>
  Instructor: <%= @lesson.instructor.name %></p>
<% else %>
  <% if @lesson.pending_requester? %>
    No instructors available for this date and time. Please edit or cancel.</p>
  <% else %>
    No instructor assigned yet.</p>
  <% end %>
<% end %>

<div class='row'>
  <div class="col-md-6">
    <h4>Basic <strong>Info</strong></h4>

    <div class='row'>

      <div class="col-md-12">
        <label>Location:</label>
        <div class='form-control'><%= @lesson.location.name %></div>
      </div>
    </div>

      <div class='row'>
        <div class="col-md-6">
          <label>Date:</label>
          <div class='form-control'><%= @lesson.date %></div>
        </div>

        <div class="col-md-6">
          <label>Slot:</label>
          <div class='form-control'><%= @lesson.slot %></div>
        </div>
      </div>

    <div class='row'>
      <div class="col-md-4">
        <label>Duration:</label>
        <div class='form-control'><%= "#{@lesson.duration} hours" if @lesson.duration %></div>
      </div>

      <div class="col-md-4">
        <label>Start Time:</label>
        <div class='form-control'><%= @lesson.start_time %></div>
      </div>

<!--       <div class="col-md-4">
        <label>Do you have gear?</label>
        <div class='form-control'><%= @lesson.gear? ? 'Yes, already have gear' : 'No, need gear.' %></div>
      </div> -->
    </div>
  </div>

  <div class="col-md-6">
    <h4>Objectives <strong> and Experience</strong></h4>

    <div class='col-md-12'>
      <label>Skill Level:</label>
      <div class='form-control'><%= @lesson.ability_level %></div>
    </div>

    <div class='col-md-12'>
      <label>Objectives:</label>
      <div class='form-control'><%= @lesson.objectives %></div>
    </div>
  </div>

  <div class='col-md-12 student-box'>
      <h4>Student <strong>Info</strong></h4>
  <% @lesson.students.each do |student| %>
    <div class='row'>
      <div class='col-md-12'>
        <label>Name</label>
        <%= student.name %>
      </div>
      <div class='col-md-12'>
        <label>Age Range</label>
        <%= student.age_range %>
      </div>
      <div class='col-md-12'>
        <label>Gender</label>
        <%= student.gender %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <label>About the student</label>
        <%= student.relationship_to_requester %>
      </div>
  <!--     <div class='col-md-12'>
            <label>Previous Experience </label>
            <%= student.experience.to_s %>
          </div> -->
    </div>
    <hr>
  <% end %>
</div>


</div>
