<div class='nested-fields student-box'>
  <%= f.inputs do %>
    <div class='row'>
      <div class='col-md-6'>
        <label>Student Name</label>
        <span class='remove-student'>(<%= link_to_remove_association "Remove Student", f, class: 'remove-student' %>)</span>
        <%= f.input :name, placeholder: "Full name of student", label: false %>
      </div>
      <div class='col-md-3'>
        <label>Age Range</label>
        <%= f.input :age_range, as: :select, collection: ['Under 10','11-17','18-30', '31-40','41-50','51 and up'], include_blank: 'Age Range', label: false %>
      </div>
      <div class='col-md-3'>
        <label>Gender</label>
        <%= f.input :gender, as: :select, collection: ['Male', 'Female'], include_blank: 'Gender', label: false %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <label>About the student</label>
        <%= f.input :relationship_to_requester, as: :select, collection: ['I am the student.', 'Student is a friend.', 'Student is my significant other.','Student is my child.'], include_blank: 'How is this student related to you?', label: false %>
      </div>
      <div class='col-md-12'>
            <label>Previous Experience </label>
            <%= f.input :experience, as: :select, collection: [['Skied (snowboarded) a total of 3 times or less.'], ['Skied (snowboarded) between 4 and 10 times.'], ['Skied (snowboarded) more than 10 days.']], include_blank: 'How experienced is the student?', label: false %>
          </div>
    </div>
  <% end %>
</div>
