<h1>[ADMIN ONLY] List of all lessons</h1>

<table class="instructors-table">
  <thead>
    <tr>
      <th>Lesson ID</th>
      <th>Lesson Details</th>
      <th>Deposit Status</th>
      <th>Requester</th>
      <th>Instructor</th>
      <th>Beach</th>
      <th>Date</th>
      <th>Time Slot</th>
      <th>Time Stamp</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.id %></td>
        <td><%= link_to "#{lesson.activity} lesson at #{lesson.location.name}", lesson %></td>
        <td><%= lesson.deposit_status %></td>
        <td><%= lesson.requester.email %></td>
        <% if lesson.instructor %>
        <td><%= lesson.instructor.username %></td>
        <% else %>
        <td>"TBD"</td>
        <% end %>
        <td><%= lesson.location.name %></td>
        <td><%= lesson.lesson_time.date.strftime("%m/%d") %></td>
        <td><%= lesson.lesson_time.slot %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beta user', new_beta_user_path %>
